.toggle-button {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 60px;
    border-radius: 15px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button.toggled {
    background-color: #5ab25a;
  }
  
  .toggle-button-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
    background-color: #d9cfcf;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: translateX(0);
  }
  
  .toggle-button.toggled .toggle-button-inner {
    transform: translateX(20px);
  }
  
  .toggle-button-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }