.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: rgb(58, 67, 96);
  padding: 1px;
  color: white;
}

a {
  color: yellow;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-1 {
  margin: 30px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 50%;
  background-color: #CCC;
  overflow: hidden;
  }

  button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  

  .button-1:hover {
    cursor: pointer;
    transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  }

  .home-button {
    margin: 30px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 10%;
  background-color: #CCC;
  overflow: hidden;
  font-family: Verdana;
  }

  .home-button:hover {
    cursor: pointer;
  }

  .new-button {
  margin: 30px;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 10%;
  background-color: #CCC;
  overflow: hidden;
  font-family: Verdana;
  color: yellow;
  font-weight: 900;
  }

  .new-button:hover {
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
  justify-content: center;

  }
  
  .container > * {
    margin: 0.5rem 0.5rem;
  }

  .alert-go {
    border:3px solid green;
    border-radius:20px;
    padding: 20px 20px 20px 20px;
    background-color: green;
    color: white;
    font-family: Verdana;
    font-weight: bolder;
    min-width: 200px;
    min-height: 40px;
    max-width: 50px;
    word-wrap: break-word;
    font-size: some value;
  
  }
  
  .alert-stop {
    border:3px solid red;
    border-radius:20px;
    padding: 20px 20px 20px 20px;
    background-color: red;
    color: white;
    font-family: Verdana;
    font-weight: bolder;
    min-width: 200px;
    min-height: 40px;
    max-width:50px;
    word-wrap: break-word;
    font-size: 16px;
  }
  
  /* Add this class to the <p> element */
  .fade-in {
    animation: fadeIn 2s;
  }
  
  /* Add this keyframe animation */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container2 {
    padding-top:60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bottom-div {
    position: fixed;
    /* Position the div at the bottom of the page */
    bottom: -5;
   
  }

